<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>导出数据</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
		.panel-group{max-height:2000px;overflow: auto;}
		.leftMenu{margin:10px;margin-top:5px;}
		.leftMenu .panel-heading{font-size:14px;padding-left:20px;height:36px;line-height:36px;color:white;position:relative;cursor:pointer;}/*转成手形图标*/
		.leftMenu .panel-heading span{position:absolute;right:10px;top:12px;}
		.leftMenu .menu-item-left{padding: 2px; background: transparent; border:1px solid transparent;border-radius: 6px;}
		.leftMenu .menu-item-left:hover{background:#C4E3F3;border:1px solid #1E90FF;}
	</style>
</head>
<body style=" min-height: 2000px; padding-top: 70px; background-color:rgba(242, 242, 242, 1);">

<!-- 导航栏 -->
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" th:href="@{/}">多源异构灾情数据综合管理系统</a>
		</div>

		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a th:href="@{/}">首页</a></li>
				<li><a th:href="@{/dataindex}">查看灾情信息</a></li>
				<li><a th:href="@{/dataexport}">导出数据</a></li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="Client_Login.html">注销</a></li>
				<li><a href="#">用户</a></li>

			</ul>

		</div>
		<!--/.nav-collapse -->
	</div>
</nav>


<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column" >
		<form  action="/export" method="post">
			<div class="row clearfix">
				<div class="col-md-9 column"  style="height:650px;background-color:rgba(255, 255, 255, 1)">
					<blockquote  class="page-header" style="border-left:5px solid #FF3030">
						<p>
							请选择灾情数据源
						</p>
					</blockquote>
					<table class="table">
						<tbody>
							<tr>
								<td>
									<div class="radio">
										<label>
											<input type="radio" name="disasterOptions" id="optionsRadios1" value="1"> 人员伤亡及失踪
										</label>
									</div>
								</td>
							</tr>
							<tr class="success">
								<td>
									<div class="radio">
										<label>
											<input type="radio" name="disasterOptions" id="optionsRadios2" value="2"> 房屋破坏
										</label>
									</div>
								</td>
							</tr>
							<tr class="">
								<td>
									<div class="radio">
										<label>
											<input type="radio" name="disasterOptions" id="optionsRadios3" value="3"> 生命线工程灾情
										</label>
									</div>
								</td>								
							</tr>
							<tr class="warning">
								<td>
									<div class="radio">
										<label>
											<input type="radio" name="disasterOptions" id="optionsRadios4" value="4"> 次生灾害
										</label>
									</div>
								</td>
							</tr>
							<tr class="">
								<td>
									<div class="radio">
										<label>
											<input type="radio" name="disasterOptions" id="optionsRadios5" value="5"> 震情
										</label>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-md-3 column"   style="height:650px;background-color:rgba(255, 255, 255, 1);border-left:10px solid #eee" >
					<blockquote  class="page-header" style="border-left:5px solid #FF3030">
						<p>
							导出
						</p>
					</blockquote>
						<div class="form-group">
							 <label for="">选择导出格式</label>
							 <select class="form-control">
								<option>Json</option>
								<option>XML</option>
							</select>
							<label for="">URL</label>
            				<input type="text" class="form-control">
						</div>
					<button type="submit" class="btn btn-default">导出</button>
				</div>
			</div>
			</form>
		</div>
	</div>
</div>
   <footer class="navbar-fixed-bottom">
		<div class="container">
        <p>&copy; 2016 Company, Inc.</p>
		</div>
      </footer>
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
	
	<script>
        $(function(){
            $(".panel-heading").click(function(e){
                /*切换折叠指示图标*/
                $(this).find("span").toggleClass("glyphicon-chevron-down");
                $(this).find("span").toggleClass("glyphicon-chevron-up");
            });
        });
	</script>
</body>
</html>