<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>管理员登录</title>
		<!--用百度的静态资源库的cdn安装bootstrap环境-->
		<!-- Bootstrap 核心 CSS 文件 -->
		<link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
		<!--font-awesome 核心我CSS 文件-->
		<link href="http://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
		<!-- 在bootstrap.min.js 之前引入 -->
		<script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
		<!-- Bootstrap 核心 JavaScript 文件 -->
		<script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
		<!--jquery.validate-->
		<script type="text/javascript" src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/jquery.validate.min.js" ></script>
		<script type="text/javascript" src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/message.js" ></script>
		<style type="text/css">
			.form{background: rgba(255,255,255,0.2);width:400px;margin:100px auto;}
			#login_form{display: block;}
			#register_form{display: none;}
			.fa{display: inline-block;top: 27px;left: 6px;position: relative;color: #ccc;}
			input[type="text"],input[type="password"]{padding-left:26px;}
			.checkbox{padding-left:21px;}
		</style>
	</head>
	<body>
	<div class="jumbotron text-center" style="margin-bottom:0">
  		<h1>多源异构灾情数据管理系统</h1>
	</div>
	<div class="container">
		<div class="form row">
			<div class="form-horizontal col-sm-offset-3 col-md-offset-3" id="login_form">
				<form>
					<h3 class="form-title">管理员登录</h3>
					<div class="col-sm-9 col-md-9">
						<div class="form-group">
							<i class="fa fa-user fa-lg"></i>
							<input class="form-control required" type="text" placeholder="Username" name="username" autofocus="autofocus" maxlength="20"/>
						</div>
						<div class="form-group">
							<i class="fa fa-lock fa-lg"></i>
							<input class="form-control required" type="password" placeholder="Password" name="password" maxlength="8"/>
						</div>
						<div class="form-group">
							<label class="checkbox">
								<input type="checkbox" name="remember" value="1"/> 记住我的账号
							</label>
							<hr />
						</div>
						<div class="form-group">
							<button type="button" class="btn btn-success pull-right" onclick='submitlogin()'>登录</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script>
		$(function () {
			$(".panel-heading").click(function (e) {
				/*切换折叠指示图标*/
				$(this).find("span").toggleClass("glyphicon-chevron-down");
				$(this).find("span").toggleClass("glyphicon-chevron-up");
			});
		});


		function submitlogin() {
			var data1 = $("input[name='username']").val();
			var data2 = $("input[name='password']").val();
			console.log(data1);
			console.log(data2);
			$.ajax({
				url : "/submit",
				async : false,
				type : "POST",
				data : {
					"username" : data1,
					"password" : data2
				},
				success : toindex,
				error : function() {
					alert("失败");
				},
				dataType : "text"
			});
		}
		function toindex(res){
			console.log(res);
			if (res=="success") {//根据返回值进行跳转
				window.location.href = '/adminindex';
			}
			else{
				alert("账号或密码有误");
				window.location.href = '/adminLogout';
			}
		}

	</script>
	</body>
</html>
